@model ProductViewModel
<div class="card shadow border-primary nt-4">
    <div class="card-header bg-primary bg-gradient">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-group">
                    

                    <div class="form-floating">
                        <input asp-for="Product.Title" class="form-control shadow" placeholder="New Product" />
                        <label asp-for="Product.Title" class="ms-2"></label>
                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="Product.Description" class="form-control shadow" placeholder="Description"></textarea>
                        
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Product.Developer" class="form-control shadow" placeholder="New Product" />
                        <label asp-for="Product.Developer" class="ms-2"></label>
                        <span asp-validation-for="Product.Developer" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Product.Price" class="form-control shadow" placeholder="New Product" />
                        <label asp-for="Product.Price" class="ms-2"></label>
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="hidden" asp-for="Product.Tag" id="Tags" />
                        <span asp-validation-for="Product.Tag" class="text-danger"></span>
                        @foreach (var Tag in Model.TagList) {
                            <div class="form-check ">
                                <input class="form-check-input checkbox-tag" type="checkbox" value="@Tag.Text" >
                                <label class="form-check-label" for="@Tag.Text">
                                    @Tag.Text
                                </label>
                            </div>
                        }
                    </div>

                    <div class="form-floating mb-3">
                        <input type="hidden" asp-for="Product.Language" id="Languages" />
                        <span asp-validation-for="Product.Language" class="text-danger"></span>
                        @foreach (var Lang in Model.LanguageList) {
                            <div class="form-check ">
                                <input class="form-check-input checkbox-language" type="checkbox" value="@Lang.Text">
                                <label class="form-check-label" for="@Lang.Text">
                                    @Lang.Text
                                </label>
                            </div>
                        }
                    </div>

                    <div class="form-floating mb-3">
                        <input type="hidden" asp-for="Product.Platform" id="Platforms" />
                        <span asp-validation-for="Product.Platform" class="text-danger"></span>
                        @foreach (var Platform in Model.PlatformList) {
                            <div class="form-check ">
                                <input class="form-check-input checkbox-platform" type="checkbox" value="@Platform.Text">
                                <label class="form-check-label" for="@Platform.Text">
                                    @Platform.Text
                                </label>
                            </div>
                        }
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Product.Date" class="form-control shadow" placeholder="New Product" />
                        <label asp-for="Product.Date" class="ms-2"></label>
                        <span asp-validation-for="Product.Date" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Product.ImageUrl" class="form-control shadow" placeholder="New Product" />
                        <label asp-for="Product.ImageUrl" class="ms-2"></label>
                        <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
                    </div>



                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control border" id="getValuesBtn">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control border">
                            Back to list
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    <script>
        $(document).ready(function () {
            $('#getValuesBtn').click(function () {
                var tagValues = [];
                var languageValues = [];
                var platformValues = [];
                $('.checkbox-tag:checked').each(function () {
                    tagValues.push($(this).val());
                });
                $('.checkbox-language:checked').each(function () {
                    languageValues.push($(this).val());
                });
                $('.checkbox-platform:checked').each(function () {
                    platformValues.push($(this).val());
                });
                var tagValuesString = tagValues.join(',');
                var languageValuesString = languageValues.join(',');
                var platformValuesString = platformValues.join(',');

                $("#Tags").val(tagValuesString);
                $("#Languages").val(languageValuesString);
                $("#Platforms").val(platformValuesString);
            });
        });

        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}